{% extends 'base.html' %}

<script>


{% block jquery %}

    //endpoints
    var type_endpoint =  'api/pokemon_chart/data/';
    var table_endpoint =  'api/table/data/';

    //table setting
    function setDataTable(data, columns) {
        $('#example').DataTable({
            data: data, <!-- trying to use the passed in variable-->
            columns: columns,
            scrollX: true


        })
    }

    //chart setting
    function setPolarChart(config) {
        var ctx = document.getElementById("myChart");
        var myChart = new Chart(ctx, config);

    }
    function setBarChart(config) {
        var ctx = document.getElementById("myChart2");
        var myChart = new Chart(ctx, config);
    }
    function setPolarChart2(config) {
        var ctx = document.getElementById("myChartType2");
        var myChart = new Chart(ctx, config);
    }
    function setBarChart2(config) {
        var ctx = document.getElementById("myChart2Type2");
        var myChart = new Chart(ctx, config);
    }
    //chart formatting
    function addBackgroundColors(chartConfig) {
        if (chartConfig && chartConfig.data && chartConfig.data.datasets) {
            labels = chartConfig.data.labels;
            for (var i in labels) {
                if (labels[i] == 'Grass') {
                    chartConfig.data.datasets[0].backgroundColor.push('rgba(142, 215, 82, .6)');
                    chartConfig.data.datasets[0].borderColor.push('rgba(142, 215, 82, .6)');
                } else if (labels[i] == 'Fire') {
                    chartConfig.data.datasets[0].backgroundColor.push('rgba(249, 86, 67, .6)');
                    chartConfig.data.datasets[0].borderColor.push('rgba(249, 86, 67, .6)');

                }  else if (labels[i] == 'Water') {
                    chartConfig.data.datasets[0].backgroundColor.push('rgba(83, 175, 254, .6)');
                    chartConfig.data.datasets[0].borderColor.push('rgba(83, 175, 254, .6)');

                } else if (labels[i] == 'Bug') {
                    chartConfig.data.datasets[0].backgroundColor.push('rgba(195, 210, 33, .6)');
                    chartConfig.data.datasets[0].borderColor.push('rgba(195, 210, 33, .6)');

                } else if (labels[i] == 'Normal') {
                    chartConfig.data.datasets[0].backgroundColor.push('rgba(187, 189, 175, .6)');
                    chartConfig.data.datasets[0].borderColor.push('rgba(187, 189, 175, .6)');

                } else if (labels[i] == 'Poison') {
                    chartConfig.data.datasets[0].backgroundColor.push('rgba(173, 92, 162, .6)');
                    chartConfig.data.datasets[0].borderColor.push('rgba(173, 92, 162, .6)');

                } else if (labels[i] == 'Electric') {
                    chartConfig.data.datasets[0].backgroundColor.push('rgba(248, 230, 78, .6)');
                    chartConfig.data.datasets[0].borderColor.push('rgba(248, 230, 78, .6)');

                } else if (labels[i] == 'Ground') {
                    chartConfig.data.datasets[0].backgroundColor.push('rgba(240, 202, 66, .6)');
                    chartConfig.data.datasets[0].borderColor.push('rgba(240, 202, 66, .6)');

                } else if (labels[i] == 'Fairy') {
                    chartConfig.data.datasets[0].backgroundColor.push('rgba(249, 174, 254, .6)');
                    chartConfig.data.datasets[0].borderColor.push('rgba(249, 174, 254, .6)');

                } else if (labels[i] == 'Fighting') {
                    chartConfig.data.datasets[0].backgroundColor.push('rgba(163, 84, 73, .6)');
                    chartConfig.data.datasets[0].borderColor.push('rgba(163, 84, 73, .6)');

                } else if (labels[i] == 'Psychic') {
                    chartConfig.data.datasets[0].backgroundColor.push('rgba(251, 97, 180, .6)');
                    chartConfig.data.datasets[0].borderColor.push('rgba(251, 97, 180, .6)');

                } else if (labels[i] == 'Rock') {
                    chartConfig.data.datasets[0].backgroundColor.push('rgba(205, 189, 114, .6)');
                    chartConfig.data.datasets[0].borderColor.push('rgba(205, 189, 114, .6)');

                } else if (labels[i] == 'Ghost') {
                    chartConfig.data.datasets[0].backgroundColor.push('rgb(118, 115, 218)');
                    chartConfig.data.datasets[0].borderColor.push('rgb(118, 115, 218)');

                } else if (labels[i] == 'Ice') {
                    chartConfig.data.datasets[0].backgroundColor.push('rgb(102, 235, 255)');
                    chartConfig.data.datasets[0].borderColor.push('rgb(102, 235, 255)');

                }
                else if (labels[i] == 'Dragon') {
                    chartConfig.data.datasets[0].backgroundColor.push('rgba(139, 118, 255, .6)');
                    chartConfig.data.datasets[0].borderColor.push('rgba(139, 118, 255, .6)');

                } else if (labels[i] == 'Dark') {
                    chartConfig.data.datasets[0].backgroundColor.push('rgba(142, 104, 86, .6)');
                    chartConfig.data.datasets[0].borderColor.push('rgba(142, 104, 86, .6)');

                } else if (labels[i] == 'Steel') {
                    chartConfig.data.datasets[0].backgroundColor.push('rgba(195, 193, 215, .6)');
                    chartConfig.data.datasets[0].borderColor.push('rgba(195, 193, 215, .6)');

                } else if (labels[i] == 'Flying') {
                    chartConfig.data.datasets[0].backgroundColor.push('rgba(117, 164, 249, .6)');
                    chartConfig.data.datasets[0].borderColor.push('rgba(117, 164, 249, .6)');

                }
            }
        }
        return chartConfig;
    }



    $.ajax({
        method:"GET",
        url: type_endpoint,
        success: function(data){

            var typ1ChartConfig = {
                    type: 'bar',
                    data: {
                        labels: data.types ,
                        datasets: [{
                            label: 'Type Counts',
                            data: data.type_counts,
                            backgroundColor: [


                            ],
                            borderColor: [

                            ],
                            borderWidth: 1
                        }]
                    },
                  options: {
                        scales: {
                          yAxes: [{
                            ticks: {
                              beginAtZero: true
                            }
                          }]
                        }
                      }
                };
            var type1PolarChartConfig = {
            type: 'polarArea',
            data: {
                labels: data.types,
                datasets: [{
                    label: 'Type Counts',
                    data: data.type_counts,
                    backgroundColor: [

                    ],
                    borderColor: [

                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        }
            var chartConfigUpdate = addBackgroundColors(typ1ChartConfig);
            var polarChartConfigUpdate = addBackgroundColors(type1PolarChartConfig);

            setPolarChart(polarChartConfigUpdate);
            setBarChart(chartConfigUpdate);

            var typ2ChartConfig = {
                    type: 'bar',
                    data: {
                        labels: data.types2 ,
                        datasets: [{
                            label: 'Type Counts',
                            data: data.type2_counts,
                            backgroundColor: [


                            ],
                            borderColor: [

                            ],
                            borderWidth: 1
                        }]
                    },
                  options: {
                        scales: {
                          yAxes: [{
                            ticks: {
                              beginAtZero: true
                            }
                          }]
                        }
                      }
                };
            var type2PolarChartConfig = {
            type: 'polarArea',
            data: {
                labels: data.types2,
                datasets: [{
                    label: 'Type Counts',
                    data: data.type2_counts,
                    backgroundColor: [

                    ],
                    borderColor: [

                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        };
            var chart2ConfigUpdate = addBackgroundColors(typ2ChartConfig);
            var polar2ChartConfigUpdate = addBackgroundColors(type2PolarChartConfig);

            setPolarChart2(polar2ChartConfigUpdate);
            setBarChart2(chart2ConfigUpdate);

        },
        error: function(error_data) {
            console.log("error");
            console.log(error_data);
        }
    });
    $.ajax({
        method:"GET",
        url: table_endpoint,
        dataType: "json",

        success: function(data){
            var pokemon = JSON.parse(data['data']);
            var columns = data['columns'];
            setDataTable(pokemon, columns);

        },
        error: function(error_data) {
            console.log("error");
            console.log(error_data);
        }
    });



{% endblock %}


</script>

{% block content %}
    <section>
        <table id="example" class="display" cellspacing="0" width="100%">

        </table>
    </section>

    <div class='row'>
        <div class='col-sm-12'>
            <h1>Type Counts</h1>
            <div class="col-sm-6">
                <canvas id="myChart" width="400" height="400"></canvas>
            </div>
            <div class="col-sm-6">
                <canvas id="myChart2" width="400" height="400"></canvas>
            </div>
        </div>

    </div>

    <div class='row'>
        <div class='col-sm-12'>
            <h1>Type2 Counts</h1>
            <div class="col-sm-6">
                <canvas id="myChartType2" width="400" height="400"></canvas>
            </div>
            <div class="col-sm-6">
                <canvas id="myChart2Type2" width="400" height="400"></canvas>
            </div>
        </div>

    </div>

{% endblock content %}
