{% extends 'base.html' %}

<script>

{% block jquery %}
var endpoint =  'api/chart/data/';
var table_endpoint =  'api/table/data/';


$.ajax({
    method:"GET",
    url: endpoint,
    success: function(data){
        console.log('charts work');
        labels = data.labels;
        defaultData = data.default;
        console.log(defaultData);
        setPolarChart();
        setBarChart();

    },
    error: function(error_data) {
        console.log("error");
        console.log(error_data);
    }
});

$.ajax({
    method:"GET",
    url: table_endpoint,
    success: function(data){
        console.log('success bro')
        columns = data.columns;
        pokemon = data.data;
        console.log(pokemon);
        setDataTable(columns, pokemon);

    },
    error: function(error_data) {
        console.log("error nigga");
        console.log(error_data);
    }
});


function setPolarChart() {
    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
        type: 'polarArea',
        data: {
            labels: labels,
            datasets: [{
                label: '# of Votes',
                data: defaultData,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });
}
function setBarChart() {
    var ctx = document.getElementById("myChart2");
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: '# of Votes',
                data: defaultData,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });
}

function setDataTable(cols, pokes) {
    $('#example').DataTable({
        data: pokes, <!-- trying to use the passed in variable-->
        columns: [],

    })
}

{% endblock %}


</script>

{% block content %}

<div class='row'>
    <div class='col-sm-12'>
        <h1>Hello World</h1>
        <div class="col-sm-6">
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>
        <div class="col-sm-6">
            <canvas id="myChart2" width="400" height="400"></canvas>
        </div>
    </div>

</div>



<section>
    <table id="example" class="display" cellspacing="0" width="100%">


    </table>
</section>

{% endblock content %}
